@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Sacramento&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
  min-height: 100vh;
  background-color: #0b0b0f;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
